node_modules/
dist/
out/

*.tsbuildinfo
*.swp
lerna-debug.log
tsconfig.tsbuildinfo
.DS_Store
.idea
.vs
dist/
.vscode
*.env
.env

jwks.json

last_dump.json
patch.json
patch-*.json
last_dump-*.json

endpoints.json

*hive-gateway-key.json

.dev/neo4j-runtime

lerna-debug.log

kubeconfig.yml

stack_output