.rbc-show-more{
  background-color: transparent !important;
}

.rbc-day-bg.rbc-selected-cell{
  background-color: rgb(255, 0, 0, 0.3) !important;
}

.rbc-row-segment > .rbc-event{
  border-radius: 20px;
}

.rbc-row-segment > .rbc-event-continues-after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.rbc-row-segment > .rbc-event-continues-prior{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.month-header__main{
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    justify-content: space-between;
}


.month-scheduler {
    flex: 1;
    flex-direction: row;
    display: flex;

  }

.month-container {
  overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: row;
}

.month-container__inner{
  flex: 1;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.month-header {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.month-chevron {
   padding: 10px;
   cursor: pointer;
}

.months-grid {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   margin: 5px 0px;
   padding: 0px;
}
