.ms-header-image {
    height: 60px;
    margin-left: 20px;
}

.ms-header-title{
   font-weight: bold;
   margin-left: 10px;
}

.ms-header {
   height: 35px !important;
}

body, #root, html, .App{
   display: flex;
   flex: 1;
   height: 100vh;
   flex-direction: column;
}

@media print{ @page{size: landscape;}}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
