.dnd-list .MuiListItem-gutters{
  padding-left: 0px !important;
  padding-right: 2px !important;
}

.number-badge{
  border-radius: 15px;
  background: #ff6700;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dnd-list > .dnd-controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dnd-list > .dnd-controls > *{
  margin-bottom: 5px;
}

.dnd-list > .input-options,.output-options{
  flex: 1;
  overflow-y: auto;
}


.dnd-list{
  display: flex;
  flex: 1;
}
