@media (max-width: 600px){
  .routed-view{
    flex-direction: column-reverse;
  }
}

.routed-view{
  display: flex;
  flex: 1;
  background: rgb(63,81,181, 0.4);
}

.routed-view-body{
  flex: 1;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
