.sorted-list__table tr{
  display: flex;
}

.sorted-list__table tr.MuiTableRow-footer{
  justify-content: flex-end;
}


.sorted-list__list{
  overflow-y: scroll;
  margin-bottom: 0;
}

.sorted-list{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sorted-list-header{
  display: flex;
  background: #dfdfdf;
  color: #2D3691;
  justify-content: space-evenly;
}

.sorted-list-header__item{
  cursor: pointer;
  font-weight: bold;
  font-family: Roboto;
  display: inline-block;
}

.sorted-list__item{
 

  cursor: pointer;
}

.sorted-list__item:hover{
  background: #dfdfdf;
}

.sorted-list__item-data{
  display: inline-block;
  color: #000;
  font-family: Roboto;
  text-decoration: none;
}
