.uploadable-image__spinner{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(1, 1, 1, 0.5);
}

.uploadable-image__spinner.active{
  display: flex;
}



.uploadable-image__banner svg {
  margin-right: 10px;
}

.uploadable-image__banner span{
  margin-top: 0 !important;
}

.uploadable-image:hover > .uploadable-image__banner{
  display: flex;
}

.uploadable-image__banner {
  transition: display 250ms;
  display: none;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0, 0.5);
  color: white;
  align-items: center;
  justify-content: center;
}

.uploadable-image img{
  width: 100%;
  height: 100%;
}

.uploadable-image.empty{
  cursor: pointer;
}

.uploadable-image > img{
  flex: 1;
  display: flex;
}

.uploadable-image__inner{ 
  flex: 1;
  display:  flex;
  align-items: center;
  justify-content: center;
}

.uploadable-image{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -5px gray;
  background: #dfdfdf;
  color: black;
  font-size: 20px;
}
