.employee-card{
  display: flex;
  flex-direction: row;
}

.employee-top {
  display: flex;

}

.employee-contact__actions{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.employee-contact {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.employee-contact > *{
  flex: 1;
}

.employee-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dfdfdf;
  padding-right: 10px;
}


.employee-details{
  margin-top: 10px;
}

.employee-name{
  font-weight: bold;
  font-size: 17px;
  margin-top: 8px;
}

.employee-sidebar{
  flex: 0.2;
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-right: 10px;
  padding-top: 10px;
}

.employee-schedule{
  overflow: hidden; 
  flex: 1;
  margin-top: 10px;
}

.employee-view{
  flex: 1;
  flex-direction: column;
  display: flex;
}
