.dashboard{
    flex: 1;
    display: flex;
    color: #f3b413;
    flex-direction: column;
}

.MuiPaper-root.dashboard-menu {
    display: flex;
    flex-direction: column;
    width: 15vw;
    background-color: #4a46489a;
    color: white;
}

.dashboard-menu .MuiTypography-h6{
    color: #00ac39;
    font-weight: bold;
    display: flex;
    padding: 8px;
    justify-content: center;
}


.dashboard-menu__header{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: teal;
    color: gold;
    font-weight: bold;
}