.alert-item-badge{
  padding: 8px;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  color: white;
}

.warning > .alert-item-badge{
  background: orange;
}

.emergency > .alert-item-badge {
  background: red;
}

.alert-item {
  display: flex;
  align-items: center;
}



